* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: #79e0ee;
  padding-bottom: 2rem;
}
.site-wrap {
  margin: 0.8rem;
}
/* ====== 1: Search section ====== */
.search-wrapper {
  display: flex;
  flex-direction: column;
}
.search-wrapper > label {
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: .7rem;
}
.search-wrapper > input {
  padding: .7rem;
  font-size: 1.5rem;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.2rem;
}

/* ====== 2: UserInfo section ====== */
.user-cards-container {
  background-color: #fff;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 0.3rem;
}
.user-cards-container > .card {
  border-left: 3px solid #00a7e98e;
  background-color: #79e0ee1d;
  padding: 1rem;
  margin: 0.8rem;
}
.header {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.body {
  font-size: 0.8rem;
  color: #777;
}
.hide {
  display: none;
}
